.bg-color{
    
    background: linear-gradient(120deg,#0066ff, #1e90ff,#0080ff,#7b68ee,#8a2be2);
    height: 100dvh;
    
    overflow: hidden;
}

.bg-contenedor{
    background: linear-gradient(120deg,#0099ff,#0080ff);
    min-height: 15em;
    min-width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    box-sizing: border-box;
    transition: ease .2s;
    animation: jeje .3s infinite;
   
}
.btn{
    box-shadow: 0 0 10px #555;

}
h1{
    transition: .2s;
    animation: salto 3s ease infinite;

}
.input{
    min-width: 80%;
    border: none;
    min-height: 2.5em;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 5px;
    padding: 5px;
    outline: none;
}

.shake{
    animation: shake 0.4s;
}

@keyframes shake {
    0%{transform: translateX(0px);}
    25%{transform: translateX(-5px);}
    50%{transform: translateX(5px);}
    75%{transform: translateX(-5px);}
    100%{transform: translateX(0px);}
}
@keyframes salto {
    0%{
        transition: 2s;
        transform: scale(0.89);
    }50%{

        transition: 2s;
        transform: scale(1);
        
    }100%{
        transition: .2s;
        transform: scale(0.89);

    }
    
    
}
